*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: black;
}

*::selection{
    background-color: rgb(245, 255, 159);
    color: black;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
background: linear-gradient(to right,rgb(116, 58, 250),rgb(250, 104, 128));
}

#card {
    display: inline-block;
    justify-content: center;
border: 1px solid white;
padding: 20px;
margin: 20px;
height: 50vh;
border-radius: 12px;
background-color: #fff;
}

#temp,#resultfield{
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    background-color: transparent;
    border: 1px solid grey;
    outline: none;
    border-radius: 5px;
}

#fromtemp,#totemp{
    width: 100%;
    padding:10px;
    background-color: #fff;
    color: black;
    border: 1px solid grey;
    outline: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

#convertbtn{
    width: 100%;
    padding: 10px;
    background-color: rgb(0, 195, 39);
    color: #fff;
    border: 1px solid grey;
    outline: none;
    border-radius: 5px;
    margin-bottom: 10px;
}